<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>notebook</td>
        <td>
            <button type="button" class="btn btn-warning">editar</button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">excluir</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>computadores</td>
        <td>
            <button type="button" class="btn btn-warning">editar</button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">excluir</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Smartphones</td>
        <td>
            <button type="button" class="btn btn-warning">editar</button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">excluir</button>
        </td>
      </tr>
    </tbody>
  </table>