<div style="display:flex;justify-content: right;">
    <button 
        class="btn btn-primary"
        routerLink="../formUsuario"
    >
        <span class="bi bi-plus"></span>
        Novo
    </button>
</div>
  <table>
    <tbody>
      <tr *ngFor="let usuario of dados">
        <th scope="row" class="pr-4">  1  </th>
          <td>{{usuario.nome}}</td>
          <td class="p-4">{{usuario.email}}</td>   
          <td>
            <span 
                class="bi bi-pencil-square"
                (click)="editar(usuario.indice)"
            ></span>
          </td>
          
          <td>
            <span class="bi bi-trash" 
                (click)="excluir(usuario.indice)"
            ></span>
          </td>
  
      </tr>
    </tbody>
  </table>
