<div style="display:flex;justify-content: right;">
    <button 
        class="btn btn-primary"
        routerLink="formaPagamento-form"
    >
        <span class="bi bi-plus"></span>
        Novo
    </button>
</div>
  <table>
    <tbody>
      <tr *ngFor="let formaPagamento of dados">
        <th scope="row">  1  </th>
          <td>{{formaPagamento.descricao}}</td>
  
          <td>
            <span 
                class="bi bi-pencil-square"
                (click)="editar(formaPagamento.indice)"
            ></span>
          </td>
          
          <td>
            <span class="bi bi-trash" 
                (click)="excluir(formaPagamento.indice)"
            ></span>
          </td>
  
      </tr>
    </tbody>
  </table>